/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Ruimte tussen de elementen */
  width: 100%;
  background-color: #0e025c;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .nav-link {
  font-size: 1.25rem;
  color: #f1a500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ffffff;
}

.navbar-toggler-icon {
  background-color: #f1a500;
}

/* Afbeelding styling */
figure {
  display: block;
  margin: 20px 0; /* Eenvormige marges boven en onder */
  border-radius: 5%;
}

img {
  display: block;
  border-radius: 5%;
  max-width: 100%;
}

/* Contactformulier */
form .form-control {
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
}

form .form-label {
  font-weight: 500;
  margin-bottom: 5px;
}

form button[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

form button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Footer icon styling */
footer .nav-link i {
  color: #007bff; /* Standaard blauwe kleur */
  transition: color 0.3s ease;
}

footer .nav-link i:hover {
  color: #0056b3; /* Donkerder blauw bij hover */
}
